Classroom Info

<p>
  <%= render partial: "classroom", locals: {classroom: @classroom} %>
</p>

#We now want to call out the oldest student in the class:

# iterate through each classrooms' students and display them.

<% @classroom.students.each do |student| %>

  <%= render partial: "students/student", locals: {student: student} %>

<% end %>
